---
layout: default
---

<main>
    <h1>{{ page.title }}</h1>

    <div class="seminar-meta">

        <p>
            <img src="{{ '/assets/icons/building.svg' | relative_url }}" class="icon">
            <strong>{{ page.speaker }}</strong>
        </p>

        <p>
            <img src="{{ '/assets/icons/building.svg' | relative_url }}" class="icon">
            {{ page.institution }}
        </p>

        <p>
            <img src="{{ '/assets/icons/building.svg' | relative_url }}" class="icon">
            {{ page.date | date: "%B %d, %Y" }}
        </p>

        <p>
            <img src="{{ '/assets/icons/building.svg' | relative_url }}" class="icon">
            10:00 AM Eastern Time
        </p>

        {% if page.zoom_link %}
        <p>
            <img src="{{ '/assets/icons/building.svg' | relative_url }}" class="icon">
            <a href="{{ page.zoom_link }}">Join Zoom</a>
        </p>
        {% endif %}

        {% if page.calendar_link %}
        <p>
            <img src="{{ '/assets/icons/building.svg' | relative_url }}" class="icon">
            <a href="{{ page.calendar_link }}">Add to Calendar</a>
        </p>
        {% endif %}

        {% if page.recording_link %}
        <p>
            <img src="{{ '/assets/icons/building.svg' | relative_url }}" class="icon">
            <a href="{{ page.recording_link }}">Watch Recording</a>
        </p>
        {% endif %}

    </div>

    <hr>

    {{ content }}

</main>